Cannot send SMTP emails using Mailgun

## Expected Behavior

Using SMTP configs with Mailgun works.

## Actual Behavior

I get the following error: 
```
Failed to send the test email. Raw error: 
501 Invalid command or cannot parse to address.
```

From the Mailgun docs:
> SMTP send will error with “cannot parse to address” or “cannot parse from address” if the provided email address fails syntax checks in accordance with RFC5321, RFC5322, RFC6854.

## Steps to Reproduce the Problem

  1. Enable SMTP email in the dashboard
  2. Change credentials to Mailgun provided credentials
  3. Hit "Send test email"
  4. Add email to "to" field. I used `a****s_@outlook.com`
  5. Hit send

## Specifications

  - Version: v0.5.0
  - Platform: 
      - Ubuntu 18.04.6 LTS 
      - go version go1.18.5 linux/amd64

## What I tried

1. Using Mailtrap credentials—Mailtrap works.
2. Changing the port
3. Verifying the credentials
4. Changing the "to" address
5. Using `--debug` flag. No debug message is logged.
6. Testing with another client:
```sh
# This works
  swaks --auth --server smtp.mailgun.org --au postmaster@mg.revr.ml --ap redacted --to example@gmail.com --h-Subject: "Hello" --body 'Testing Mailgun!'
  ```
7. Testing yak. Couldn't figure out how to configure TLS (yet).

P.S. Might be a dupe of #347 

In response to #346 

> Is the address you are sending the test email valid? Does it have any unusual formatting (eg. dots as prefix/suffix)? Could you test it with a SMTP configured to [mailtrap.io](https://mailtrap.io/)?
There are [some changes to how we build the to address](https://github.com/pocketbase/pocketbase/blob/master/tools/mailer/smtp.go#L69-L70) but they were tested with my local email server, mailtrap and gmail and I didn't stumble on any issues.

Yes, it's a valid email with "normal" formatting.

I am reviewing the Mailgun docs to see what format they expect.

I've reverted the `to` address format change in [v0.5.1 release](https://github.com/pocketbase/pocketbase/releases/tag/v0.5.1). Please test again. It seems that when there is no name part, emails wrapped with only angle brackets are considered invalid.

A better fix with properly generated text email version for the spamassasin `TO_NO_BRKTS_HTML_ONLY` rule will be added in v0.6.0.


Thanks!

Lemme test v0.5.1 then I'll close the issue.

Unrelated, but I don't want to dump an extra issue: does the website go down every time there's a new release?

> does the website go down every time there's a new release?

Yes, because the website is embedded as static html in the live demo and since the release could have db migrations that may need to be applied and for transactional safety, the running PocketBase process has to be restarted.